:root {
  --color-background: #0b0b0f;
  --color-surface: #15151c;
  --color-surface-hover: #1e1e27;

  --color-primary: #e50914;
  --color-primary-hover: #f40612;

  --color-text: #ffffff;
  --color-text-secondary: #a1a1aa;
  --color-text-muted: #71717a;

  --color-border: #27272a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Inter", sans-serif;
}